#forms{
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 50px;
}

.classHidden {
    display: none;
}
#editButtonsClose{
    padding-top: 1%;
}
#editbuttons{
    padding-left: 15%;
    padding-top: 1%;
}