body{
    background-image: url("/images/bg-head.jpg");
}
header{
    background-origin: border-box;
    background-size: auto;
    background: white;
    padding: 75px;
    border-radius: 12px ;
    opacity: 0.8;
    text-align: left;
}

#textTask{
    color: black;
    font-size: 30px;
    font-weight: initial;
    text-decoration: none;
}

#textTask:hover{
    color: #EBCACB;
}

.font{
    color: white;
    font-size: 18px;
    padding: 2px;
    text-align: left;
}

.v11{
    font-weight: bolder;
}

.owner {
    font-family: Dialog;
    font-weight: bolder;

}

.key{
    font-weight: bolder;
    font-size: 30px;
}