
body{
    background-image: url("/images/grey-background-for-site-787760958.jpg");
}
header{
    background-origin: border-box;
    background-size: auto;
    background: black;
    padding: 75px;
    border-radius: 12px ;
    opacity: 0.8;
    text-align: left;
}
#textTask{
    color: white;
    font-size: 30px;
    font-weight: initial;
    text-decoration: none;
}
#textTask:hover{
    color: #EBCACB;
}
.font{
    color: black;
    font-size: 18px;
    padding: 2px;
    text-align: left;

}

.v3{
    margin-left: 50px;
}