a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: #dcd9a2;
}
#main{
    margin: 100px;
    border-width: 10px ;
    border-color: black;
}
#table {
    position: center;
    width: 100%;
}
#div2{
    padding: 50px;
}